#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(24, 24, 24);

    h2 a{
        display: flex;
        gap: 0.5rem;
    }

    form{
        display: flex;
        gap: 0.5rem;

        button{
            background-color: #e6d27b;
            border: 2px solid #e6d27b;
            border-radius: 4px;
            color: black;
            padding: 0.3rem;
            font-size: 1.3rem;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: 0.5s;
        }
        button:hover{
            background-color: transparent;
            color: #e6d27b;
        }
    }

    input{
        padding: 1.2rem 0.8rem;
        border-radius: 4px;
        border: none;
    }

}